@media (max-width: 767px) {

    .center {
        padding-left: 16px;
        padding-right: 16px;
    }

    .header__title {
        padding-top: 238px;
        font-size: 32px;
        font-weight: 700;
        text-align: center;
    }

    .header__description {
        font-size: 14px;
        line-height: 22px;
        margin-bottom: 32px;
        text-align: center;
    }

    .header__link {
        margin: 0 auto;
        display: block;
    }

    .games-box__img {
        gap: 32px;

    }

    .games-box__content {
        flex-wrap: wrap;
        padding-bottom: 127px;
    }

    .game-block {
        height: 654px;
        flex-direction: column;
        padding-block: 51px;
        text-align: center;

        &__seasons {
            margin-bottom: 32px;
            font-size: 32px;

            &_number {
                font-size: 14px;
                margin-bottom: 32px;
            }
        }

        &__link {
            display: inline-block;
        }

        &__img {
            width: 100%;
        }

    }

    .game-block__words {
        margin-bottom: 32px;
        font-size: 32px;

        &_remember {
            font-size: 14px;
            margin-bottom: 32px;
        }
    }

    .enigma{
        padding-top: 52px;
    }

    .enigma-block_play {
        margin-bottom: 32px;
        font-size: 32px;
    }

    .enigma-block_task {
        font-size: 14px;
        margin-bottom: 32px;
    }
}