@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&family=Poppins:wght@600&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  background: #000915;
}

img {
  width: 100%;
  display: block;
}

input,
button {
  font-family: inherit;
}

.top {
  height: 1024px;
  background-image: url(img/top.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.header__title {
  color: #FFF;
  font-size: 64px;
  font-weight: 700;
  padding-top: 217px;
  margin-bottom: 32px;
}

.header__description {
  color: #FFF;
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  max-width: 480px;
}
.header__description_thick {
  font-weight: 700;
}

.header__link {
  width: 234px;
  height: 48px;
  border-radius: 30px;
  background: #9C0332;
  display: block;
  margin-top: 44px;
  color: #FFF;
  border: none;
  position: relative;
  box-sizing: border-box;
  transition: all 500ms ease;
}
.header__link:hover {
  background: #EB443F;
}

.games-box {
  display: flex;
  align-items: center;
}

.games-box__content {
  display: flex;
  justify-content: center;
  gap: 32px;
}

.games-box__img {
  max-width: 378px;
  width: 100%;
  aspect-ratio: 378/300;
  flex-shrink: 0;
  border-radius: 16px;
  transition: all 0.3s ease;
}
.games-box__img:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px black;
}

.game-block {
  display: flex;
  align-items: center;
  gap: 64px 135px;
  height: 800px;
}
.game-block_reversed {
  flex-direction: row-reverse;
}
.game-block__left {
  gap: 135px;
}

.game-block__seasons {
  font-size: 48px;
  color: #FFF;
  margin-bottom: 32px;
}
.game-block__seasons_number {
  color: #FFF;
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
}

.game-block__link {
  width: 234px;
  height: 48px;
  border-radius: 30px;
  background: #9C0332;
  display: block;
  margin-top: 32px;
  color: #FFF;
  border: none;
}
.game-block__link:hover {
  background: #EB443F;
}

.game-block__img {
  width: 485px;
  height: 333px;
}

.game-block__words {
  font-size: 48px;
  color: #FFF;
  margin-bottom: 32px;
}
.game-block__words_remember {
  color: #FFF;
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
}

.enigma {
  padding-top: 276px;
  background-image: url(img/game6.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 800px;
}

.enigma-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.enigma-block_play {
  font-size: 48px;
  color: #FFF;
  margin-bottom: 32px;
}
.enigma-block_task {
  color: #FFF;
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
}

.enigma-block__link {
  width: 234px;
  height: 48px;
  border-radius: 30px;
  background: #9C0332;
  display: block;
  margin-top: 32px;
  color: #FFF;
  border: none;
}
.enigma-block__link:hover {
  background: #EB443F;
}

.footer__reserved {
  color: #FFF;
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  display: flex;
  justify-content: center;
}

@media (max-width: 767px) {
  .center {
    padding-left: 16px;
    padding-right: 16px;
  }
  .header__title {
    padding-top: 238px;
    font-size: 32px;
    font-weight: 700;
    text-align: center;
  }
  .header__description {
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 32px;
    text-align: center;
  }
  .header__link {
    margin: 0 auto;
    display: block;
  }
  .games-box__img {
    gap: 32px;
  }
  .games-box__content {
    flex-wrap: wrap;
    padding-bottom: 127px;
  }
  .game-block {
    height: 654px;
    flex-direction: column;
    padding-block: 51px;
    text-align: center;
  }
  .game-block__seasons {
    margin-bottom: 32px;
    font-size: 32px;
  }
  .game-block__seasons_number {
    font-size: 14px;
    margin-bottom: 32px;
  }
  .game-block__link {
    display: inline-block;
  }
  .game-block__img {
    width: 100%;
  }
  .game-block__words {
    margin-bottom: 32px;
    font-size: 32px;
  }
  .game-block__words_remember {
    font-size: 14px;
    margin-bottom: 32px;
  }
  .enigma {
    padding-top: 52px;
  }
  .enigma-block_play {
    margin-bottom: 32px;
    font-size: 32px;
  }
  .enigma-block_task {
    font-size: 14px;
    margin-bottom: 32px;
  }
}/*# sourceMappingURL=style.css.map */